html(lang='en')
    head
        meta(charset='UTF-8')
        | &#x9;&#x9;
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        | &#x9;&#x9;
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        | &#x9;&#x9;
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor', crossorigin='anonymous')
        | &#x9;&#x9;
        title HandleBars Productos
    | &#x9;
    body
        .container-lg
            block content

